@import "style/who-we-are.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: Montserrat,Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


    
  overflow: hidden;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; 
}

#my-canvas{
  width: 100%;
  height: 100vh;

  
}

/* temp needed for development purposes */
#fps{
  position: fixed;
  color: black;
  background-color: white;
  right: 0;
  top: 0;
  font-size: 20px;
  font-weight: 600;
}
